#GQFooter {
  margin-left: 213px;
  margin-top: 16px;
  display: flex;
}

.StateStartButton {
  background: #44b8ff;
  border-radius: 45px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  width: 223px;
  padding: 28px 0;
  margin: 32px 0 42px 830px;
  cursor: pointer;
}

.GQResetButton,
.GQDraftButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 45px;
}

.GQResetButton {
  padding: 21px 60px;
}

.GQDraftButton {
  padding: 21px 10px;
  margin-left: 41px;
}

.GQNextButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 21px 60px;
  background-color: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 45px;
  margin-left: 915px;
  cursor: pointer;
}

/*Personal Details */

#PDFooter {
  margin-left: 216px;
  margin-top: 50px;
  display: flex;
}

.BackButton,
.DraftButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 45px;
}

.BackButton {
  padding: 21px 60px;
  cursor: pointer;
}

.DraftButton {
  padding: 21px 10px;
  margin-left: 39px;
}

.NextButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 19px 72px;
  background-color: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 45px;
  margin-left: 860px;
  cursor: pointer;
}

/*Review & Buy */
#RBFooter {
  margin-left: 213px;
  display: flex;
}

.BackButton,
.DraftButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  border: 2px solid #000000;
  border-radius: 45px;
  cursor: pointer;
}

.BackButton {
  padding: 21px 60px;
}

.DraftButton {
  padding: 21px 10px;
  margin-left: 46px;
}

.MakePaymentButton {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  padding: 21px 60px;
  background-color: #000000;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 45px;
  margin-left: 770px;
}
