.PersonalDetailsBody {
  margin-top: 87px;
  display: flex;
}

.Textbox {
  width: 1288px;
  height: 61.28px;
  border: 2px solid #000000;
  margin: 0 0 20.43px 316px;
}

#QuoteOutput {
  padding: 110px 36px 115px 33px;
  background-color: #c4c4c4;
  margin: -100px 0 0 112px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-align: center;
}

.CalendarPopupGQ {
  position: absolute;
  right: 20px;
}
