h3 {
  margin: 0;
}

#Body {
  width: 1497px;
  height: 510px;
  border: 2px solid #000000;
  box-sizing: border-box;
  margin: 16px 0 0 212px;
}

#QuoteHeader,
.OptionFlex,
#Body {
  display: flex;
}

#HeaderMain2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #645f5f;
  margin: 39px 62px 0 40px;
}

.HeaderOption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #645f5f;
  background-color: #c4c4c4;
  padding: 10px;
  border-radius: 5px;
  margin: 30px 15px 0 0;
}

.QuoteOption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #645f5f;
  margin-left: 40px;
}

.PolicyStartDiv {
  margin-top: 52px;
}

.DateOption {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  padding: 16px 30px;
  border: 1px solid #000000;
}

.PolicyStart {
  margin-top: 25px;
  margin-right: 50px;
}

.RegoSearchDiv {
  margin-top: 31px;
  margin-bottom: 37px;
}

.RegoSearchTxt {
  margin-top: 12px;
}

#Textbox {
  width: 163px;
  height: 54px;
  background: #fffdfd;
  border: 1px solid #000000;
  margin: 0 -14px 0 50px;
}

.Modifications {
  margin-bottom: 36px;
}

.PaymentOptions {
  margin-right: 214px;
  margin-bottom: 36px;
}

/*Radio Config */
.radio {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
  margin-top: -40px;
}

.radio__input {
  display: none;
}

.radio__radio {
  width: 20px;
  height: 20px;
  border: 3px solid #000000;
  border-radius: 50%;
  margin-right: 20px;
  box-sizing: border-box;
}

.radio__radio::after {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: #44b8ff;
  border-radius: 50%;
  transform: scale(0);
  transition: transform 0.15s;
}

.radio__input:checked + .radio__radio::after {
  transform: scale(1);
}

#QuoteOutput2 {
  padding: 194px 75px 222px 76px;
  background: #c4c4c4;
  margin: 33px 0px 0 95px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
