body,
h1 {
  margin: 0;
}

#HeadingDI {
  margin-bottom: 100px;
}

#ProgressDI {
  display: flex;
}

.GetQuoteHeadingDI {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.05em;
  text-align: center;
}

/* Circle properties */
#StatusCirclesDI {
  display: flex;
  margin-left: 450px;
}

#CircleOneDI,
#CircleTwoDI,
#CircleThreeDI {
  height: 66.08px;
  width: 67.43px;
  background-color: #3ec6ff;
  border-radius: 50%;
}

#CircleOneDI {
  margin-left: 440px;
}

/* .CurrentStatusDI {
  border: 5px solid #000000;
} */

#CircleOneDI,
#CircleTwoDI,
#CircleThreeDI {
  margin: 5px 0 0 0;
}

.CircleNumberDI {
  margin-top: 17px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}

.ConnectorLineDI {
  height: 0;
  width: 393px;
  border-top: 5.29px solid #3ec6ff;
  margin-top: 35px;
}

/*Right div*/
#HeadingRightDI {
  width: 100%;
  text-align: right;
  margin-right: 40px; /* */
}

.SendByEmailDI {
  font-family: "Roboto"; /*Not working*/
  font-style: normal; /*Not working*/
  font-weight: normal;
  font-size: 24px;
  color: #3ec6ff;
  cursor: pointer;
}

.HelpTxtDI {
  margin-top: 20px;
}

.ChatBubbleDI {
  height: 67px;
  width: 67px;
  margin: 10px 0 10px 0;
}

.CurrentProgressDI,
.ProgressOptionDI {
  font-family: Roboto;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  letter-spacing: 0.05em;
  margin-top: 31px;
}

/* .CurrentProgress {
  font-weight: 500;
  text-decoration-line: underline;
} */

.ProgressOptionDI {
  font-weight: normal;
}

.QuoteDetailsDI {
  margin-left: 400px;
}

.PersonalDetailsDI {
  margin-left: 290px;
}

.ReviewBuyDI {
  margin-left: 270px;
}

.GetQuoteEmailPopupDI {
  position: absolute;
  right: 60px;
}
