.HomeFooterCont {
    width: 100%;
    background-color: blue;
}
.ContactUsDiv{
    width: 100%;
    background-color: white;
    font-family: "Nunito";
    padding: 30px;
	position: absolute;
	top: 2900px;
	z-index: 2000;
}
.ContactUs {
    width: 500px;
    margin-left: 900px;
	font-size: 36px;
}
.PhoneFooter, .atSymbol, .Camera, .Speech {
    width: 65px;
    height: 65px;
	margin-top: 70px;
}
.FooterTopTxt {
    display: flex;
}
.atSymbol {
	margin-left: 470px;
}
.PhoneFooter {
	margin-left: 200px;
}
.Camera {
	margin-left: 470px;
}
.Speech {
	width: 120px;
	height: 120px;
    margin-left: 300px;
}
.PhoneFooterTxt {
	font-size: 30px;
    margin: -60px 0px 0px 270px;
}
.CameraFooterTxt {
	font-size: 30px;
    margin: -60px 0px 0px 160px;
}
.atFooterTxt {
	font-size: 30px;
    margin: -60px 0px 0px 370px;
}

/* The start of the black footer */

.MainFooterContainer {
	width: 100%;
	height: 380px;
	background-color: black;
	/* margin-top: 50px; */
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	color: white;
	/* padding: 1%; */
	text-decoration: none;
    font-family: "Nunito";
	margin-bottom: -400px;
}
.FooterContainer {
	width:100%;
	display: flex;
	/* flex-direction: row; */
	justify-content: space-between;
	/* margin: 3%; */
	padding: 2%;
	/* text-decoration: none; */
	text-align: left;
	font-size: 1em;
	margin-left: 300px;
}

.FooterContainer a {
	color: white;
	text-decoration: none;
}

.FooterContainer a:hover {
	color: #43b8fe;
	text-decoration: none;
}

.FooterContent {
	display: flex;
	flex-direction: column;
	width: 15%;
	text-decoration: none;
}

.FooterContent h5 {
	font-size: 1em;
	font-weight: bold;
}


.SubFooter {
	display: flex;
	justify-content: space-around;
	background-color: #363636;
	/* padding: 0.5%; */
	color: #ccc;
}

.SubFooterRight {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 30%;
	list-style-type: none;
	color: white;
	padding: 1%;
}

.SubFooterRight i {
	color: #b71234;
}
.FooterHeadings {
   font-size: 20px;
   margin-left: -100px;
}
.FooterHeadings1 {
    width: 250px;
   font-size: 20px;
   margin-left: -100px;
}
.FooterHeadings2 {
    width: 250px;
   font-size: 20px;
   margin-left: -100px;
}
.FooterHeadings3 {
    width: 250px;
   font-size: 20px;
   margin-left: -100px;
}
a {
    margin: 0px 0px 0px -100px;
}
.Facebook {
	position: absolute;
	left: 1550px;
}

